html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  html {
    --main-bg-color: #343D46;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #F9F1A2;
  }
  
  #root {
    width: 100%;
    font-family: "Lato",sans-serif;
    font-size: 38px;
    color: var(--primary-text-color);
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .loading {
    color: var(--secondary-text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .h2 {
    width: 100%;
    text-align: center;
    clear: both;
    color: var(--secondary-text-color);
  }
  
  .discography {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:stretch;
    width: 960px;
  }
  
  
  
  .album {
    width: 25%;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    height: 290px;
  }
  
  .album a { color: var(--primary-text-color); text-decoration: none; display: block; }
  .album h2 { font-size: 26px; margin: 0; transition: color .5s ease-in-out; }
  .album:hover h2 { color: var(--secondary-text-color); }
  .album .release-date { 
    opacity: 0; 
    color: var(--primary-text-color);
    font-size: 18px; 
    -webkit-transition: opacity .5s; 
    transition: opacity .5s;
  
  }
  .album:hover .release-date { opacity: 1; }
  .album .cover { }
  .album .cover img { width: 200px; transition: transform .5s ease-in-out;  }
  .album .cover:hover img {  -webkit-transform: scale(1.1); transform: scale(1.1); }
  
  @media screen and (max-width: 992px) {
    .discography { width: 100%; }
    .album { width: 50%; height: auto; margin-bottom: 40px; }
    .album a { color: var(--secondary-text-color); }
    .album h2 { font-size: 32px; }
    .album .cover img { width: 90%; }
    .album .release-date { opacity: 1; font-size: 26px; }
  }